.titleWrapp {
  margin: 4rem 0;

  h1 {
    color: var(--grey-1);

    &:hover {
      color: var(--pink-1);
      filter: opacity(0.8);
      cursor: pointer;
    }
  }
  p {
    color: var(--grey-2);
    margin: 0.6rem 0 1.5rem;
  }

  time {
    color: var(--grey-3);
  }
  span {
    color: var(--grey-3);
    margin-left: 1rem;
    svg {
    }
  }
}

.loadMorePosts {
  background: none;
  color: var(--pink-1);
  font-weight: bold;
  border: none;
  &:hover {
    filter: brightness(0.8);
  }
}
